<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class To-do List</title>
</head>
<body>

    <div>
        <form action="{{ url_for('add') }}" method="POST">
            <input type="text" name="event">
            <input type="submit" value="Add Item" class="button">
        </form>
    </div>
    
    <h1>{{course.name}}</h1>
    {% for i in events %}
    <div>
        <h3>{{i.description}}</h3>
        <p>{{i.deadline.strftime('%A, %b %Y, %I:%M%p %Z')}}</p>
    </div>
    {% endfor %}
    
</body>
</html>