{% extends "base.html" %}

{% block content%}

<h1>Dashboard</h1>

    <h3>Upcoming Tasks</h3>
    {% for procrastinated in upcoming %}
    <div class="list-group">
        <a href="{{ url_for('class_page', id=procrastinated.courseid) }}"
            class="list-group-item list-group-item-action list-group-item-secondary">
            {{procrastinated.description}}
            <br>
            Due: {{procrastinated.deadline.strftime('%A %d, %b %Y, %I:%M%p %Z')}}
        </a>
    </div>
    {% endfor %}

{% endblock %}