{% extends "base.html" %}

{% block content %}
{% if failure %}
<h1>Failed to register. Probably because username is already in use.</h1>
{% endif %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="{{ url_for('auth.register') }}">
            <div class="field">
                <div class="control">
                    <input class="" name="uname" placeholder="Username" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}